# Copyright (c) 2026 Graphcore Ltd. All rights reserved.

[submodule "gwr-onnx-sys/onnx_src"]
	path = gwr-onnx-sys/onnx_src
	url = https://github.com/onnx/onnx
	shallow = true
[submodule "gwr-perfetto-sys/perfetto_src"]
	path = gwr-perfetto-sys/perfetto_src
	url = https://github.com/google/perfetto
	shallow = true
