# Copyright (c) 2025 Graphcore Ltd. All rights reserved.

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
        exclude: licenses.html
      - id: trailing-whitespace
        exclude: licenses.html
  - repo: local
    hooks:
      - id: check-copyright
        name: check copyright
        description: check copyright notice is valid
        language: system
        entry: cargo run --bin check-copyright
        require_serial: true
        exclude: |
          (?x)(
            ^.git/.*|
            ^Cargo.lock|
            .*\.stderr$|
            d3.*.js|
            jquery.*.js|
            .*\.png
          )
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: prettier-markdown
        name: prettier markdown
        description: check formatting of Markdown files
        language: system
        types: [markdown]
        entry: npx prettier --write
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: prettier-yaml
        name: prettier yaml
        description: check formatting of YAML files
        language: system
        types: [yaml]
        entry: npx prettier --write
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cargo-deny
        name: cargo deny
        description: check Rust dependencies licenses and for vulnerabilities
        language: system
        types_or: [rust, toml]
        entry: cargo deny check
        pass_filenames: false
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cargo-about
        name: cargo about
        description: Document licenses of Rust dependencies
        language: system
        types_or: [rust, toml]
        entry:
          cargo about generate --locked --workspace --all-features --fail
          --config about.toml --output-file licenses.html about.hbs
        pass_filenames: false
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cargo-nightly-fmt
        name: cargo +nightly fmt
        description: format files with "cargo fmt" from the nightly toolchain
        language: system
        types: [rust]
        entry: cargo +nightly fmt --
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cargo-check
        name: cargo check
        description: check for package errors with cargo check
        language: system
        types_or: [rust, toml]
        entry: cargo check
        pass_filenames: false
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cargo-clippy-strict
        name: cargo clippy-strict
        description: lint Rust source code
        language: system
        types: [rust]
        entry: env RUSTFLAGS="-D warnings" cargo clippy-strict
        pass_filenames: false
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cargo-doc-tramway-dev
        name: cargo doc-tramway-dev
        description: check Rust source code documentation
        language: system
        types: [rust]
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc-tramway-dev
        pass_filenames: false
        stages: [pre-commit, pre-merge-commit, pre-push, manual]
      - id: cargo-semver-checks
        name: cargo semver-checks
        description: lint crate API changes for semver violations
        language: system
        types_or: [rust, toml]
        entry:
          cargo semver-checks --baseline-rev origin/main --exclude
          tramway-components --exclude tramway-config --exclude
          tramway-developer-guide --exclude tramway-doc-builder --exclude
          tramway-docpp --exclude tramway-engine --exclude tramway-model-builder
          --exclude tramway-models --exclude tramway-perfetto --exclude
          tramway-perfetto-sys --exclude tramway-protocols --exclude
          tramway-resources --exclude tramway-spotter --exclude tramway-terminus
          --exclude tramway-track
        pass_filenames: false
        stages: [manual]
      - id: cog-verify
        name: cog verify
        description: check commit message is in Conventional Commit form
        language: system
        entry: cog verify --file
        stages: [commit-msg]
default_install_hook_types: [pre-commit, pre-merge-commit, commit-msg, pre-push]
