# Copyright (c) 2025 Graphcore Ltd. All rights reserved.

name: pre-commit

on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "pip"
          cache-dependency-path: ".github/workflows/pre-commit.yaml"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pre-commit
          brew update
          brew install capnp prettier
          rustup update
          rustup toolchain install --profile default stable nightly
          cargo install cargo-deny cargo-semver-checks

      - name: Test with pre-commit
        run: |
          pre-commit run --all-files
