# Copyright (c) 2025 Graphcore Ltd. All rights reserved.

name: Rust

on:
  push:
    branches: ["main"]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          brew update
          brew install asciidoctor capnp
          rustup update
          rustup toolchain install --profile default stable
          cargo install cargo-expand mdbook mdbook-cmdrun mdbook-keeper mdbook-linkcheck

      - name: Build
        run: cargo build --all-features --verbose

      - name: Run tests
        run: cargo test --all-features --verbose

      - name: Run benches
        run: cargo bench --all-features --verbose
